In [18]:
import pandas as pd
pd.set_option("display.max_columns", 100)
df = pd.read_csv("13112_20193_20193.csv", encoding="CP932")
df = df[df["種類"] == "中古マンション等"]
df.head(3)
df.describe()

,No,市区町村コード,取引価格（総額）,坪単価,面積（㎡）,取引価格（㎡単価）,間口,延床面積（㎡）,前面道路：幅員（ｍ）,建ぺい率（％）,容積率（％）
count,206.000000,206.0,2.060000e+02,0.0,206.000000,0.0,0.0,0.0,0.0,202.000000,202.000000
mean,259.655340,13112.0,4.158252e+07,NaN,50.364078,NaN,NaN,NaN,NaN,64.801980,247.425743
std,130.519423,0.0,2.527616e+07,NaN,24.189062,NaN,NaN,NaN,NaN,10.133948,104.739938
min,3.000000,13112.0,5.600000e+06,NaN,15.000000,NaN,NaN,NaN,NaN,40.000000,80.000000
25%,155.250000,13112.0,2.100000e+07,NaN,25.000000,NaN,NaN,NaN,NaN,60.000000,200.000000
50%,273.500000,13112.0,3.850000e+07,NaN,55.000000,NaN,NaN,NaN,NaN,60.000000,200.000000
75%,386.500000,13112.0,5.650000e+07,NaN,70.000000,NaN,NaN,NaN,NaN,80.000000,300.000000
max,458.000000,13112.0,1.600000e+08,NaN,115.000000,NaN,NaN,NaN,NaN,80.000000,600.000000